---
layout: default
permalink: blog.html
---
<h1>Blog</h1>
{% assign series_shown = "" | split: "|" %}
{% assign newness = 7776000 %}
<ul class="postlist">
{% assign posts = site.posts | where: "draft", false %}
{% for post in posts %}
  {% if post.series %}
    {% unless series_shown contains post.series %}
      {% assign series_shown = series_shown | push: post.series %}
      {% assign series = site.data.series | where: "id", post.series | first %}
      <li class="category">
        Series on <em>{{ series.topic }}</em>
        <ol class="postlist series-posts">
        {% assign reverse_posts = site.posts | where: "draft", false | reverse %}
        {% for other in reverse_posts %}
          {% if other.series == post.series %}
            <li>
            {% assign poststamp = other.date | date: '%s' | plus: 0 %}
            {% assign nowstamp = 'now' | date: '%s' %}
            {% assign thenstamp = nowstamp | minus: newness %}
            {% if poststamp > thenstamp %}
              <a href="{{ other.url }}">{{ other.title }}
                <span class="datepill">{{ other.date | date: '%b %-d' }}</span>
              </a>
            {% else %}
              <a href="{{ other.url }}">{{ other.title }}</a>
            {% endif %}
            </li>
          {% endif %} 
        {% endfor %}
        </ol>
      </li>
    {% endunless %}
  {% else %}
  {% assign poststamp = post.date | date: '%s' | plus: 0 %}
  {% assign nowstamp = 'now' | date: '%s' %}
  {% assign thenstamp = nowstamp | minus: newness %}
  <li>
    {% if poststamp > thenstamp %}
      <a href="{{ post.url }}">{{ post.title }}
        <span class="datepill">{{ post.date | date: '%b %-d' }}</span>
      </a>
    {% else %}
      <a href="{{ post.url }}">{{ post.title }}</a>
    {% endif %}
  {% endif %}
  </li>
{% endfor %}
</ul>
