:root {
    --cyan: #009999;
    --blue: #267CB9;
    --lightcyan: #DDF8ED;
    --lightblue: #DDEDF8;
    --solarized1: #fdf6e3;
    --solarized2: #eee8d5;
    --linkhover: #006699;
}

.highlight table td { padding: 5px; }

.highlight table pre { margin: 0; }

.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .c, .highlight .cd { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .ge { color: #000000; font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaaaaa; }

.highlight .gt { color: #aa0000; }

.highlight .kc { color: #000000; font-weight: bold; }

.highlight .kd { color: #000000; font-weight: bold; }

.highlight .kn { color: #000000; font-weight: bold; }

.highlight .kp { color: #000000; font-weight: bold; }

.highlight .kr { color: #000000; font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .k, .highlight .kv { color: #000000; font-weight: bold; }

.highlight .mf { color: var(--cyan); }

.highlight .mh { color: var(--cyan); }

.highlight .il { color: var(--cyan); }

.highlight .mi { color: var(--cyan); }

.highlight .mo { color: var(--cyan); }

.highlight .m, .highlight .mb, .highlight .mx { color: var(--cyan); }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .bp { color: #999999; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .nd { color: #3c5d5d; font-weight: bold; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #990000; font-weight: bold; }

.highlight .nf { color: #990000; font-weight: bold; }

.highlight .nl { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: #000080; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .nv { color: #008080; }

.highlight .ow { color: #000000; font-weight: bold; }

.highlight .o { color: #000000; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

body { background-color: #fff; padding: 50px; font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555; font-weight: 400; }

h1, h2, h3, h4, h5, h6 { color: #333; margin: 0 0 18px; }

p, ul, ol, table, dl, div.admonition, div.highlight, svg { margin: 0 0 18px; }

h1, h2, h3 { line-height: 1.1; }

h1 { font-size: 28px; }

hr { border: none; }

hr::before { content: "❦"; display: block; text-align: center; }

a { color: var(--blue); text-decoration: none; }

a:hover, a:focus { color: var(--linkhover); text-decoration: underline;}

.wrapper { width: 860px; left: 0; }

.navlist { list-style: none; padding-left: 0; }

.navlist li { margin-bottom: 1ex; }

blockquote { border-left: 1px solid #e5e5e5; margin: 0; padding: 0 0 0 20px; }

code, pre { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; color: #333; }

pre { font-size: 12px; }

img { max-width: 484px; padding: 8px 8px }

pre, img[alt=Music], div.admonition, div.highlight, div.admonition h4, div.admonition p { padding: 8px 8px; width: auto; overflow-x: auto; border-radius: 18px; max-width: 484px;}

pre, div.admonition h4, div.admonition p { margin: 0; }

pre, img[alt=Music], .highlight { background-color: #fdf6e3; }

.admonition { background-color: var(--lightblue); }

.meta { color: #999; }

table { width: 100%; border-collapse: collapse; }

th, td { text-align: left; padding: 5px 10px; border-bottom: 1px solid #e5e5e5; }

dt { color: #333; font-weight: 700; }

th { color: #333; }

header { width: 270px; float: left; position: fixed; -webkit-font-smoothing: subpixel-antialiased; }

strong, b, .tooltip { color: #333; font-weight: 700; }

section { width: 500px; float: right; padding-bottom: 50px; }

small { font-size: 11px; }

footer { width: 270px; float: left; position: fixed; bottom: 50px; -webkit-font-smoothing: subpixel-antialiased; }

.active { font-weight: 700; }

.tooltip { color: var(--cyan); }

.tooltiptext { visibility: hidden; position: fixed; left: 70px; top: 300px; width: 270px; margin: -18px; padding: 18px; background-color: var(--lightcyan); }

.tooltip:hover { text-decoration: underline; }

.tooltipline { position: relative; display: block; margin: 0; padding: 0;}

.tooltipline::after { content: "\a"; white-space: pre; }

.lexentry { margin-top: 1ex; border-top: 1px solid #bdc; }

.lightblue { fill: var(--lightblue); }

.lightcyan{ fill: var(--lightcyan); }

.solarized1{ fill: var(--solarized1); }

.solarized2{ fill: var(--solarized2); }

@media only screen and (max-width: 500px) {
  .tooltiptext {
    visibility: hidden;
    position: absolute;
    margin: 0 -16px;
    border-radius: 6px;
    border: 3px solid #369;
    background-color: white;
    line-height: 1.5;
    left: 50px;
    transform: translateY(3em);
  }
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover + .tooltiptext  {
  visibility: visible;
}

@media print, screen and (max-width: 960px) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  section { padding: 20px 0; margin: 0 0 20px; }
  header a small { display: inline; }
  header ul li { display: inline-block; margin-right: 1em; }
@media print, screen and (max-width: 720px) { body { word-wrap: break-word; }
  header { padding: 0; }
  pre, code { word-wrap: normal; } }
@media print { body { padding: 0.4in; font-size: 12pt; color: #444; } }


