{% assign ref = 0 %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="{{ "/bower_components/ideal-image-slider/ideal-image-slider.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/30adb36664.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function fns() {
        var elem = document.getElementById("contents");
        var button = document.getElementById("contentsbutton")
        var header = document.getElementById("header")
        if (elem.style.display == "none") {
          elem.style.display = "block";
          header.classList.add("active")
        } else {
          elem.style.display = "none";
          header.classList.remove("active")
        }

      }
    </script>
    <script>
        lightbox.option({
            'fadeDuration': 0,
            'imageFadeDuration': 100,
            'resizeDuration': 100,
        })
    </script>
  </head>
  <body>
    <div id="skiptocontent"><a href="#maincontent">Skip to main content</a></div>
    <div class="wrapper">
      <header>
        <span style="float: right;">
          <a href="/index.html" class="{% if page.url == '/index.html' %}active{% endif %}">Blog</a> 
          &nbsp; 
          <a href="/publications.html" class="{% if page.url == '/publications.html' %}active{% endif %}">Linguistics</a>
          &nbsp; 
          <a href="/about/" class="{% if page.url == '/about/' %}active{% endif %} emph">Hire me!</a> 
        </span>
        <span style="float: left;"><a href="/">Leah Velleman</a></span>
      <div style="clear: both;"></div>
      </header>

      <main id="maincontent">
        {{ content }}
      </main>
      <footer>
        <a href="https://github.com/leahvelleman">Github</a> &nbsp; <a href="https://twitter.com/leahvelleman">Twitter</a> &nbsp; <a href="mailto:leahvelleman@gmail.com">Email</a> &nbsp; <a href="/assets/velleman_resume.pdf">Résumé</a> &nbsp; <a href="/feed.xml">Subscribe</a>
      </footer>
    </div>
  </body>
</html>
