---
layout: default
---
{%- if page.series -%}
  {%- assign series-topic = site.data.series | where: 'id', page.series | map: 'topic' | first -%}
  {%- assign series-posts = site.posts | reverse | where: "draft", false | where: 'series', page.series -%}
  {%- for post in series-posts -%}
    {%- if post.url == page.url -%}
      {%- assign prev_post_index = forloop.index | minus: 1 -%}
      {%- assign curr_post_index = forloop.index -%}
      {%- assign next_post_index = forloop.index | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<h1>{%- if series-posts.size > 0 -%}{{ series-topic | capitalize }}:{%- endif %} {{ page.title }}</h1>
<div class="meta topmeta">
  {%- if page.draft -%}
    This is a draft — please don't share
  {%- else -%}
    <p class="date">{{ page.date | date_to_string }}</p>
    {%- if series-posts.size > 0 -%}
      {%- if series-posts.size == 1 -%}
      <p>This post is the beginning of a series on <em>{{ series-topic }}</em>. More posts coming soon!</p>
      {%- else -%}
      This post is part of a series on {{ series-topic }}.
        <ol class="series-posts">
          {%- for post in series-posts -%}
            <li
              {%- if post.url == page.url %}
                class="current"
              {%- endif -%}
              ><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
          {%- endfor -%}
        </ol>
        <p class="series-blurb">{{ page.seriesblurb }}</p>
      {%- endif -%}
      <hr>
    {%- endif -%}
  {%- endif -%}
</div>

<div class="post">
  {{ content }}
</div>

<div class="meta bottommeta" style="overflow: auto;">
    {%- if page.previous.url -%}
    <span style="float: left;"><a class="next" href="{{page.previous.url}}">Previous post</a></span>
    {%- endif -%}
    {%- if series-posts.size > 1 -%}
      {%- for post in series-posts -%}
        {%- if next_post_index == forloop.index -%}
        <span style="float: right;"><a class="next" href="{{ site.baseurl }}{{ post.url }}">Next in this series</a></span>
        {%- endif -%}
      {%- endfor -%}
  {%- endif -%}
    {%- if page.next.url -%}
    <span style="float: right;"><a class="next" href="{{page.next.url}}">Next post</a></span>
    {%- endif -%}
   <div style="clear: both;"></div>
</div>
