---
layout: default
---
{%- if page.series -%}
  {%- assign series-topic = site.data.series | where: 'id', page.series | map: 'topic' | first -%}
  {%- assign series-posts = site.posts | reverse | where: 'series', page.series -%}
  {%- for post in series-posts -%}
    {%- if post.url == page.url -%}
      {%- assign prev_post_index = forloop.index | minus: 1 -%}
      {%- assign curr_post_index = forloop.index -%}
      {%- assign next_post_index = forloop.index | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>
{%- if series-posts.size > 0 -%}
<div class="admonition">
  {%- if series-posts.size == 1 -%}
  <p>This post is the beginning of a series on <em>{{ series-topic }}</em></p>
  <p>More posts coming soon!</p>
  {%- else -%}
  <p>This post is part of a series on <em>{{ series-topic }}</em></p>
  <ol>
    {%- for post in series-posts -%}
    <li>
      {%- if post.url == page.url -%}
      <span class="current">{{ post.title }}</span>
      {%- else -%}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ol>
  {%- endif -%}
</div>
{%- endif -%}

<div class="post">
  {{ content }}

  {%- if series-posts.size > 1 -%}
    {%- for post in series-posts -%}
      {%- if next_post_index == forloop.index -%}
      Next in series: <a class="next" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} &raquo;</a>
      {%- endif -%}
    {%- endfor -%}
{%- else -%}
  {%- if page.previous.url -%}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {%- endif -%}
  {%- if page.next.url -%}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {%- endif -%}
{%- endif -%}
</div>
</div>
